# https://docs.replit.com/programming-ide/configuring-repl

language = "go"
run = "go run -v ./cmd"

[env]
DISCORD_TOKEN="MTAyODk2MDg5NDg2NjE2OTg1Ng.G-h3_F.Cu1PXFWtKZFKOvGQ7c_ZdnYtqiElJLN3PqbW5g"
ATERNOS_SESSION="gzWpcRm9ROsY3bwNFsKAFVNga8d1W5WShIUeePPdwJRjqtC82P0Apqm4lMLbcl7zeQEfpXvYo73QGVphgZDCPZqidZZ7QEGra8GA"
ATERNOS_SERVER="gevvBaXTRe7FO8Ya"
MONGO_DB_URI=""

[languages.go]
pattern = "**/*.go"

[languages.go.languageServer]
start = "gopls"

[nix]
# TODO: move back to stable once go version 1.18 has been added
channel = "unstable"
